{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
  <section>
    <div class="container">
      <div class="row">
        <div class="image-row col-md-6 col-sm-10">
          <div class="big-screen">
            <img src="{{ obj.main_image.url }}" alt="{{ obj.main_image.name }}">
          </div>
        </div>
        <div class="col-md-6 col-sm-10">
          <div class="fw-bold fs-2">{{ obj.title }}</div>
          <span>
            {{ obj.description }}
          </span>
        </div>
        <div class="slides row">
          {% for shot in obj.shots.all %}
            <img class="col-1"
                 src="{{ shot.image.url }}"
                 alt="{{ shot.tour.title }}-{{ forloop.counter }}">
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="fs-2 offset-md-3">{% trans "Купить тур" %}</div>
          {% crispy form %}
          {% for message in messages %}
            <div class="container-fluid p-0">
              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>


  </section>
<button onclick="pay(100)">Оплатить</button>

{% endblock %}



{% block extra_footer_js %}
  <script src="{% static 'js/listView.js' %}">
  </script>
  <script>
    (function (p, a, y, b, o, x) {
      o = p.createElement(a);
      x = p.getElementsByTagName(a)[0];
      o.async = 1;
      o.src = 'https://widget.paybox.money/v1/paybox/pbwidget.js?' + 1 * new Date();
      x.parentNode.insertBefore(o, x);
    })(document, 'script');

    function pay(amount) {
      var data = {
        token: "Eyq0azWnF7ycyEUE",
        payment: {
          order: "1",
          amount: "1000",
          currency: "UZS",
          description: "Описание заказа",
          expires_at: "2022-12-12 00:00:00",
          options: {
            callbacks: {
              result_url: "https://goldentravel.uz/result",
              check_url: "https://goldentravel.uz/check"
            },
            custom_params: {},
            user: {
              email: "user@test.com",
            },
            receipt_positions: [
              {
                count: 1,
                name: "{{obj.title}}",
                tax_type: 3,
                price: 1000
              }
            ]
          }
        },
        successCallback: function (payment) {
          alert('Заказ номер ' + payment.order + ' успешно оплачен')
        },
        errorCallback: function (payment) {
          alert('Произошла ошибка при попытке оплаты заказа номер ' + payment.order)
        }
      }

      var paybox = new PayBox(data);
      paybox.create();
    }

  </script>

{% endblock %}
