{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %} {{ obj.title }} {% endblock %}

{% block content %}
  <section>
    <div class="container">
      <div class="row">
        <div class="image-row col-md-6 col-sm-10">
          <div class="big-screen">
            <img src="{{ obj.main_image.url }}" alt="{{ obj.main_image.name }}">
          </div>
        </div>
        <div class="col-md-6 col-sm-10">
          <div class="fw-bold fs-2">{{ obj.title }}</div>
          <span>
            {{ obj.description }}
          </span>
        </div>

        <div class="slides row">
          {% for shot in obj.shots.all %}
            <img class="col-1"
                 src="{{ shot.image.url }}"
                 alt="{{ shot.tour.title }}-{{ forloop.counter }}">
          {% endfor %}
        </div>
      </div>
      {% with obj.features.all as features %}
        {% if features %}
          <div class="row">
            <div class="col-12 p-3">
              <div class="col-md-4 offset-md-5 fw fw-bold p-3">{% trans 'Дополнительные информации' %}</div>
            </div>
            {% for feature in features %}
              <div class="col-8 p-1">
                <div class="p-3 border bg-light text-center">{{ feature.title }}</div>
              </div>
              <div class="col-4 p-1">
                <div class="p-3 border bg-light text-center">{{ feature.means }}</div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <div class="row gy-5">
        <div class="col-md-4 offset-md-4">
          <div class="col-md-8 offsed-md-2 p-3">{% trans "Стоимость:" %}
            <b>{{ obj.amount }}</b> {{ obj.get_currency_display }}</div>
          <div class="fs-2 offset-md-3">{% trans "Купить тур" %}</div>
          <ul>
            <li class="card__item">
              <img src="{% static 'svg/uzcard.svg' %}" alt="">
            </li>
            <li class="card__item">
              <img src="{% static 'svg/humo.svg' %}" alt="">
            </li>
            <li class="card__item">
              <img src="{% static 'svg/union.svg' %}" alt="">
            </li>
            <li class="card__item">
              <img src="{% static 'svg/visa.svg' %}" alt="">
            </li>
            <li class="card__item">
              <img src="{% static 'svg/mastercard.svg' %}" alt="">
            </li>
          </ul>
          {% crispy form %}
          {% for message in messages %}
            <div class="container-fluid p-0">
              <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}



{% block extra_footer_js %}
  <script src="{% static 'js/listView.js' %}">
  </script>
{% endblock %}
